:root {
    --font-arial: Arial;
}
html {
    width: fit-content;
}
body {
    background-color: #F5F5F7;
    font-family: "Arial",sans-serif;
}

article {
    display: flex;
    flex-direction: row;
    margin-top: 6.667rem;
    margin-left: 6.5rem
}

section.line_product {
    display: inline-flex;
    padding: 0.2917rem 0rem 0.25rem 0rem;
    justify-content: center;
    align-items: center;
}
section.line_product h1 {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}
section.preview {
    display: flex;
    width: 48rem;
    height: 34.667rem;
    background-color: #D2D2D7A3;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* flex-direction: row;
    flex-wrap: wrap; */
}
div.picture {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    width: 38rem;
    height: 100%;
    overflow: hidden;
}
div.slideShow {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
div.picbox {
    width: 38rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.picture img{
    margin-top: 6rem;
    max-width: 38rem;
    max-height: 23.333rem;
}
div.button {
    display: flex;
    width: 3.333rem;
    height: 3.333rem;
    /* padding: 0.25rem 0.89813rem 0rem 1.22938rem; */
    margin-left: 0.667em;
    margin-right: 0.667em;
    justify-content: center;
    align-items: center;
    border-radius: 2.1667rem;
    background: rgba(210, 210, 215, 0.64);
}
div.button:hover {
    cursor: pointer;
}
div.tablist {
    margin-top: 3.333rem;
    display: flex;
    width: 38rem;
    margin-bottom: 0.3333rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.point {
    display: flex;
    width: 0.9167rem;
    padding: 0rem 0.0467rem;
    flex-direction: column;
    /* align-items: flex-start; */
    align-self: stretch;
    opacity: 1;
}

section.specifi {
    display: flex;
    flex-direction: column;
    width: 48rem;
    height: 12.667rem;
    margin-top: 0.8667rem;
    background-color: #D2D2D7A3;
    /* justify-content: center; */
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
section.specifi .header {
    display: flex;
    padding: 0.2083rem 0rem 0.125rem 0rem;
    margin-top: 0.4rem;
    height: 2rem;
    width: 45.333rem;
    /* justify-content: center;
    align-items: center; */
}
section.specifi .header h1 {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.667rem;
}
section.specifi .detail {
    display: flex;
    flex-direction: row;
    margin-top: 0.5333rem;
}
section.specifi .detail .detail_value {
    display: flex;
    flex-direction: column;
    width: 6.667rem;
    height: 8rem;
    margin-left: 0.667rem;
    margin-right: 0.667rem;
    align-items: center;
}
section.specifi .detail .detail_value h1 {
    font-size: 0.9rem;
    margin-block-end: 0rem;
}
section.specifi .detail .detail_value p {
    font-size: 0.8rem;
    text-align: center;
}

section.variation {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 18rem;
    margin-top: 4.2667rem;
    margin-left: 3rem;
}
section.variation h1 {
    font-size: 1.1rem;
}
span.deep {
    color: #86868B;
}
div.vers {
    display: flex;
    min-height: 3rem;
    width: 100%;
    padding: 0.667rem;
    margin-bottom: 0.667rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid #86868B;
    background: rgba(255, 255, 255, 0.80);
}
div.vers:hover {
    cursor: pointer;
}
div.vers .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.vers .left h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 0.95rem;
}
div.vers .left p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0.333rem;
    font-size: 0.8rem;
}
div.vers .right p {
    font-size: 0.8rem;
}
section.vari {
}
section.select_color {
    display: flex;  /*none*/
    opacity: 1; /*0*/
    flex-direction: column;
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
section.select_color .color {
}
section.button {
    display: flex;  /*none*/
    opacity: 1;   /*0*/
    flex-direction: row;
    margin-top: 1rem;
    width: 18rem;
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}
section.button .add_cart {
    font-size: 0.9333rem;
    font-weight: 600;
    margin-right: 1.333rem;
    height: 3.333rem;
    width: 10rem;
    padding: 0.667rem;
    border-radius: 0.5rem;
    border: 1px solid #86868B;
    background: rgba(255, 255, 255, 0.80);
}
section.button .add_cart:hover {
    cursor: pointer;
}
section.button .buy {
    font-size: 0.9333rem;
    font-weight: 600;
    height: 3.333em;
    width: 6.667rem;
    padding: 0.667rem;
    border-radius: 0.5rem;
    border: 1px solid #86868B;
    background: rgba(253, 2, 2, 0.863);
}
section.button .buy:hover {
    cursor: pointer;
}
