:root {
    --font-arial: Arial;
}
body {
    background-color: #F5F5F7;
    font-family: "Arial",sans-serif;
}

article {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    margin-left: 11.5rem
}

section.line_product {
    display: inline-flex;
    padding: 0.4375rem 0rem 0.375rem 0rem;
    justify-content: center;
    align-items: center;
}
section.line_product h1 {
    color: #000;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}
section.preview {
    display: flex;
    width: 72rem;
    height: 52rem;
    background-color: #D2D2D7A3;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* flex-direction: row;
    flex-wrap: wrap; */
}
div.picture {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    width: 57rem;
    height: 100%;
    overflow: hidden;
}
div.slideShow {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
div.picbox {
    width: 57rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.picture img{
    margin-top: 9rem;
    max-width: 57rem;
    max-height: 35rem;
}
div.button {
    display: flex;
    width: 5rem;
    height: 5rem;
    /* padding: 0.25rem 0.89813rem 0rem 1.22938rem; */
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 3.25rem;
    background: rgba(210, 210, 215, 0.64);
}
div.button:hover {
    cursor: pointer;
}
div.tablist {
    margin-top: 5rem;
    display: flex;
    width: 57rem;
    margin-bottom: 0.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.point {
    display: flex;
    width: 1.375rem;
    padding: 0rem 0.07rem;
    flex-direction: column;
    /* align-items: flex-start; */
    align-self: stretch;
    opacity: 1;
}

section.specifi {
    display: flex;
    flex-direction: column;
    width: 72rem;
    height: 19rem;
    margin-top: 1.3rem;
    background-color: #D2D2D7A3;
    /* justify-content: center; */
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
section.specifi .header {
    display: flex;
    padding: 0.3125rem 0rem 0.1875rem 0rem;
    margin-top: 0.6rem;
    height: 3rem;
    width: 68rem;
    /* justify-content: center;
    align-items: center; */
}
section.specifi .header h1 {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
}
section.specifi .detail {
    display: flex;
    flex-direction: row;
    margin-top: 0.8rem;
}
section.specifi .detail .detail_value {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}
section.specifi .detail .detail_value h1 {
    font-size: 1.1rem;
}
section.specifi .detail .detail_value p {
    text-align: center;
}

section.variation {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 27rem;
    margin-top: 6.4rem;
    margin-left: 4.5rem;
    position: fixed;
    top:10rem;
    left:84rem;
}
section.variation h1 {
    font-size: 1.4rem;
}
span.deep {
    color: #86868B;
}
div.vers {
    display: flex;
    min-height: 4.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0.75rem;
    border: 1px solid #86868B;
    background: rgba(255, 255, 255, 0.80);
}
div.vers:hover {
    cursor: pointer;
}
div.vers .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.vers .left h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
div.vers .left p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0.5rem;
}
section.vari {
    max-height: 23.1rem;
    overflow: auto;
}
section.select_color {
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
section.select_color .color {
    max-height: 23.1rem;
    overflow: auto;
}
section.button {
    display: none;
    flex-direction: row;
    margin-top: 1.5rem;
    width: 27rem;
}
section.button .add_cart {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 2rem;
    height: 5rem;
    width: 15rem;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #86868B;
    background: rgba(255, 255, 255, 0.80);
}
section.button .add_cart:hover {
    cursor: pointer;
}
section.button .buy {
    font-size: 1.4rem;
    font-weight: 600;
    height: 5rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #86868B;
    background: rgba(253, 2, 2, 0.863);
}
section.button .buy:hover {
    cursor: pointer;
}