:root
{
    --font-arial : Arial
}
.product_container
{
    display: flex;
    /*something notice*/
    width: 166.45rem;
    height: 312.625rem;
    background: #F5F5F7;
    font-family: var(--font-arial);
    flex-direction: column;
}

.product_container .brands
{
    display: flex;
    width: 140.5rem;
    padding: 0.625rem ;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3.1875rem;
    flex-wrap: wrap;
    margin: 4rem 68.6rem 0rem 8.75rem ;
}

.product_container .brands .brand_items
{
    display: flex;
    width: 8.5rem;
    height: 9.25rem;
    padding: 1.125rem 0.5rem 1.0625rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    flex-shrink: 0;

    color: #1D1D1F;
    text-align: center;
    font-size: 0.86819rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem; /* 143.982% */
    letter-spacing: -0.014rem;
}

.product_container .brands .brand_items .div .img
{
    width: 7.5rem;
    height: 4.875rem;
}

.product_container .list_product
{
    display: flex;
    padding: 0.625rem 0rem;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2.75rem 2.8125rem;
    flex-wrap: wrap;
    margin: 1.06rem 4.75rem 0rem 8.75rem;
    width : 130rem;

}

.product_container .list_product .items
{
    display: flex;
    width: 18.6875rem;
    height: 31.25rem;
    flex-shrink: 0;
    border-radius: 1.125rem;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_container .list_product .items .image_div
{
    display: flex;
    width: 16rem;
    height: 20rem;
    flex-shrink: 0;
}

.product_container .list_product .items .image_div img{
    display: flex;
    width: 100%;
    height: 100%;
}

.product_container .list_product .items .items_name_div
{
    display: flex;
    width: 15.875rem;
    height: 2.5625rem;
    flex-direction: column;
    justify-content: center;

    color: #000;
    font-family: var(--font-arial);
    font-size: 1.02931rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3125rem; /* 127.514% */
    letter-spacing: -0.02338rem;
    margin-top: 1.5rem;

}

.product_container .list_product .items .price_div
{
    display: flex;
    width: 16.125rem;
    height: 2.25rem;
    flex-direction: column;
    justify-content: center;

    color: #000;
    font-family: var(--font-arial);
    font-size: 1.02931rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem; /* 127.514% */
    letter-spacing: -0.02338rem;
    margin-bottom: 5rem;
}

.product_container .pagenav
{
    display: flex;
    padding: 0.625rem 0rem;
    justify-content: center;
    margin: 1.06rem 4.75rem 0rem 8.75rem;
    width : 130rem;
    gap : 3rem;
}

.product_container .pagenav a
{
    display: flex;
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: #000;
    font-family: var(--font-arial);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem; /* 127.514% */
    letter-spacing: -0.02338rem;
    margin-bottom: 5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

.product_container .pagenav a:hover {
    transform: translate(2px, 2px);
    box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.3);
}

